<div>
  <p><a href="/"><img src="https://www.visitmyrtlebeach.com/sites/default/files/styles/single_image_component/public/2023-06/ybatb-badge-new2.png.webp?itok=4EZc2k4O" alt="Visit Myrtle Beach" width="80" height="80"></a></p>
  <p><a href="/tools/widgets/toggle"><span class="icon icon-toggle"></span>Menu</a></p>
</div>
<div>
  <ul>
    <li>
      <p><a href="/places-to-stay">Places to Stay</a></p>
      <ul>
        <li><a href="/places-to-stay/hotels">Hotels</a></li>
        <li><a href="/places-to-stay/motels">Motels</a></li>
        <li><a href="/places-to-stay/oceanfront-hotels">Oceanfront</a></li>
        <li><a href="/places-to-stay/beach-houses">Beach Houses</a></li>
        <li><a href="/places-to-stay/vacation-rentals">Vacation Rentals</a></li>
        <li><a href="/places-to-stay/campgrounds">Campgrounds</a></li>
        <li><a href="/places-to-stay/timeshares">Timeshares</a></li>
        <li><a href="/places-to-stay">See All</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/things-to-do">Things to Do</a></p>
      <ul>
        <li><a href="/things-to-do/attractions">Attractions</a></li>
        <li><a href="/things-to-do/beach-experiences">Beach Experiences</a></li>
        <li><a href="/things-to-do/theatres-shows">Theatres &amp; Shows</a></li>
        <li><a href="/things-to-do/live-music">Live Music</a></li>
        <li><a href="/things-to-do/outdoor-adventures">Outdoors</a></li>
        <li><a href="/things-to-do/shopping">Shopping</a></li>
        <li><a href="/things-to-do/fishing">Fishing</a></li>
        <li><a href="/things-to-do/watersports">Watersports</a></li>
        <li><a href="/things-to-do/golf">Golf</a></li>
        <li><a href="/things-to-do/family-fun">Family Fun</a></li>
        <li><a href="/things-to-do">See All</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/food-drink">Food &amp; Drink</a></p>
      <ul>
        <li><a href="/food-drink/restaurants">All Restaurants</a></li>
        <li><a href="/food-drink/breakfast">Breakfast</a></li>
        <li><a href="/food-drink/lunch">Lunch</a></li>
        <li><a href="/food-drink/dinner">Dinner</a></li>
        <li><a href="/food-drink/seafood-restaurants">Seafood</a></li>
        <li><a href="/food-drink/waterfront-dining">Waterfront</a></li>
        <li><a href="/food-drink/coffee-shops">Coffee</a></li>
        <li><a href="/food-drink/sweets-treats">Sweets</a></li>
        <li><a href="/food-drink/wineries-breweries">Wineries &amp; Breweries</a></li>
        <li><a href="/food-drink">See All</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/events">Events</a></p>
      <ul>
        <li><a href="/events/submit">Submit an Event</a></li>
        <li><a href="/events/can-am-days">Can-Am Days</a></li>
        <li><a href="/events/ccmf">CCMF</a></li>
        <li><a href="/events/festivals">Festivals</a></li>
        <li><a href="/events/food-festivals">Food Festivals</a></li>
        <li><a href="/events/muzika">Muzika Festival</a></li>
        <li><a href="/events/myrtle-beach-marathon">Marathon</a></li>
        <li><a href="/events/myrtle-beach-classic">MB Classic</a></li>
        <li><a href="/events/winter-wonderland">Winter Wonderland</a></li>
        <li><a href="/events">See All</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/group-travel">Group Travel</a></p>
      <ul>
        <li><a href="/group-travel/groups-tours">Groups &amp; Tours</a></li>
        <li><a href="/group-travel/meetings-conventions">Meetings</a></li>
        <li><a href="/group-travel/sports">Sports</a></li>
        <li><a href="/group-travel/motorcoach">Motorcoach</a></li>
        <li><a href="/group-travel/reunions">Reunions</a></li>
        <li><a href="/group-travel/student-groups">Student Groups</a></li>
        <li><a href="/group-travel/international">International</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/area-info/beaches-communities">Beaches &amp; Communities</a></p>
      <ul>
        <li><a href="/area-info/beaches-communities/myrtle-beach">Myrtle Beach</a></li>
        <li><a href="/area-info/beaches-communities/north-myrtle-beach">North Myrtle Beach</a></li>
        <li><a href="/area-info/beaches-communities/murrells-inlet">Murrells Inlet</a></li>
        <li><a href="/area-info/beaches-communities/surfside-beach">Surfside Beach</a></li>
        <li><a href="/area-info/beaches-communities/garden-city">Garden City</a></li>
        <li><a href="/area-info/beaches-communities/litchfield-beach">Litchfield Beach</a></li>
        <li><a href="/area-info/beaches-communities/pawleys-island">Pawleys Island</a></li>
        <li><a href="/area-info/beaches-communities/conway">Conway</a></li>
        <li><a href="/area-info/beaches-communities/loris">Loris</a></li>
        <li><a href="/area-info/beaches-communities/aynor">Aynor</a></li>
        <li><a href="/area-info/beaches-communities/atlantic-beach">Atlantic Beach</a></li>
        <li><a href="/area-info/beaches-communities/briarcliffe-acres">Briarcliffe Acres</a></li>
        <li><a href="/area-info/beaches-communities/cherry-grove">Cherry Grove</a></li>
        <li><a href="/area-info/beaches-communities/little-river">Little River</a></li>
        <li><a href="/area-info/beaches-communities">See All</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/travel-resources">Travel Resources</a></p>
      <ul>
        <li><a href="/travel-resources/about-us">About Us</a></li>
        <li><a href="/travel-resources/accessibility">Accessibility</a></li>
        <li><a href="/travel-resources/autism-friendly">Autism-Friendly</a></li>
        <li><a href="/deals">Deals</a></li>
        <li><a href="/travel-resources/contests">Contests</a></li>
        <li><a href="/travel-resources/international-travel">International</a></li>
        <li><a href="/travel-resources/maps">Maps</a></li>
        <li><a href="/travel-resources/trip-ideas">Trip Ideas</a></li>
        <li><a href="/travel-resources/guides">Guides</a></li>
        <li><a href="/travel-resources/visitors-guide">Visitors Guide</a></li>
        <li><a href="/travel-resources">See All</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/shop">Shop</a></p>
    </li>
  </ul>
</div>
<div>
  <p><a href="/deals">Deals</a></p>
</div>
